.portfolio-filters__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 40px;
}

.portfolio-filters__item {
  &:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 15px;
  }
}

.portfolio-filters__modal-btn {
  width: 120px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-filters__list {
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-filters__item {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}
