.address__list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.address__item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.footer {
  background-color: #2f303a;
  padding: 0 15px;
}

.address__link {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #2196f3;
    cursor: pointer;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }
}

.footer__join-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.143;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  width: 113px;
  height: 16px;
  white-space: nowrap;
}

.footer__left-side {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.footer__join {
  display: flex;
  float: right;
  align-items: center;
  flex-direction: column;
}

.footer__newsletter-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1 142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  white-space: nowrap;
  margin-bottom: 10px;
}

.footer__newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  width: 100%;
}

.footer__newsletter-form-input {
  width: 100%;
  max-width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  padding-left: 16px;
}

.footer__newsletter-form-btn {
  display: flex;
  padding-left: 42px;
  padding-right: 28px;
  height: 50px;
  background: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1 875;
  letter-spacing: 0.06em;
  margin-top: 20px;
}

.footer__newsletter-icon-send {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 24px;
}
.footer__join {
  display: flex;
  justify-content: center;
  align-content: center;
}

.footer__newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}



@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__left-side {
    margin-left: 76px;
    margin-right: 144px;
  }

  .footer__newsletter {
    margin-left: 166px;
  }

  .footer__newsletter-form-input {
    width: 358px;
  }

  .footer__newsletter-form-btn {
    width: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .address__item {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  .footer__left-side {
    margin-right: 70px;
    align-items: flex-start;
  }

  .footer__join {
    width: 22%;
    align-items: flex-start;
  }

  .footer__newsletter {
    margin-left: auto;
    align-items: flex-start;
    margin-top: 0px;
  }

  .footer__newsletter-form {
    flex-direction: row;
  }

  .footer__newsletter-form-input {
    width: 358px;
  }
  .address__list {
    align-items: flex-start;
  }

  .footer__newsletter-form-btn {
    margin-top: 0;
  }
}
