.social-media__link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: var(--background-color);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  margin-bottom: 24px;

  &:hover,
  &:focus {
    background-color: var(--secondary-color);
    fill: #ffffff;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }
}

  .social-media__link-dt {
    display: flex;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill: #ffffff;

    &:hover,
    &:focus {
      background-color: var(--secondary-color);
      fill: #ffffff;
      transition: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 250ms;
    }
  }

  .dt:not(:last-child) {
    margin-right: 10px;
  }



